<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>it.webapp.servlet.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/myServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>InsertUser</servlet-name>
    <servlet-class>it.webapp.servlet.InsertUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertUser</servlet-name>
    <url-pattern>/insertUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchUser</servlet-name>
    <servlet-class>it.webapp.servlet.SearchUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchUser</servlet-name>
    <url-pattern>/searchUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertUserDetails</servlet-name>
    <servlet-class>it.webapp.servlet.InsertUserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertUserDetails</servlet-name>
    <url-pattern>/insertUserDetails</url-pattern>
  </servlet-mapping>
</web-app>
